<section id="page">Book Details
    <img src=<%= details.bookimage %> />
    <h2><%=details.title %></h2>
    <h4><%=details.author %></h4>
    <p><%=details.bookdescription %></p>
    <h4>ISBN: <%= details.isbn %> </h4>
    <h4>Bookshelf: <%=details.bookshelf %></h4>
    <form method="post" action="/book/<%=details.id%>?_method=DELETE">
        <button type="submit">Delete Book</button>
    </form>
</section>