<form method="post" action="/books/<%=details.id%>?_method=PUT">
    <input type="text" name="bookimage" placeholder="bookimage" value="<%= details.bookimage %>" />
    <input type="text" name="booktitle" placeholder="title" value="<%= details.title %>" />
    <input type="text" name="bookauthor" placeholder="author" value="<%=details.author %>" />
    <textarea name="bookdescription" col="10" rows="20"
        placeholder="Add Description"><%=details.bookdescription %></textarea>
    <input type="text" name="bookisbn" placeholder="isbn" value="<%=details.isbn %>" />
    <input type="text" name="bookshelf" placeholder="bookshelf" value="<%=details.bookshelf %>" />
    <div><button type="submit">Update</button></div>
</form>