<form id="editForm" method="post" action="/books/<%=details.id%>?_method=PUT">
    <div>
        <label for="editImg">Image URL:</label>
        <input type="text" name="bookimage" id="editImg" placeholder="bookimage" value="<%= details.bookimage %>" />
    </div>
    <div>
        <label for="title">Title:</label>
        <input type="text" name="booktitle" id="title" placeholder="title" value="<%= details.title %>" />
    </div>
    <div>
        <label for="author">Author:</label>
        <input type="text" name="bookauthor" id="author" placeholder="author" value="<%=details.author %>" />
    </div>
    <div>
        <label for="bookisbn">ISBN</label>
        <input type="text" id="bookisbn" name="bookisbn" placeholder="isbn" value="<%=details.isbn %>" />
    </div>
    <div>
        <label for="bookshelf">Bookshelf:</label>
        <input type="text" id="bookshelf" name="bookshelf" placeholder="bookshelf" value="<%=details.bookshelf %>" />
    </div>
    <div>
        <label for="Description">Description:</label>
        <textarea name="bookdescription" id="Description" col="10" rows="20"
            placeholder="Add Description"><%=details.bookdescription %></textarea>
    </div>
    <div class="buttons">
        <button type="submit">Commit Changes</button>
        <button type="reset">Reset To Origin</button>
    </div>

</form>