<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head')  %>

<body>
    <%- include('../../layout/header')  %>
    <main>
        <% if (action!='edit') { %>
        <%- include('./detail')  %>
        <h4>ISBN: <%= details.isbn %> </h4>
        <h4>Bookshelf: <%=details.bookshelf %></h4>
        <form class="buttons" method="post" action="/book/<%=details.id%>?_method=DELETE">
            <button type="submit">Delete Book</button>
            <a href="/books/edit/<%=details.id%>">Edit Book</a>
        </form>
        <% } else { %>
        <%- include('./edit')  %>
        <% } %>
    </main>
    <%- include('../../layout/footer')  %>

</body>

</html>